html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.mt-50 {
  margin-top: 80px;
}

.border {
  border: 1px dashed #ad1457;
}

.text-center {
  text-align: center;
}

.ui.card {
  margin: 1em auto !important;
}

#chain.hide {
  display: none;
}

.overflow-a {
  overflow: auto;
}
