html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.mt-50 {
  margin-top: 80px;
}

.message-container.mt-10 {
  margin-top: 10px;
}
.border {
  border: 1px dashed #ad1457;
}

.text-center {
  text-align: center;
}

.ui.card {
  margin: 1em auto !important;
}

#chain.hide {
  display: none;
}

.overflow-a {
  overflow: auto;
  font-size: 0.85em;
  color: #00bfa5;
  opacity: 0.9;
  background-color: #f1f8e9;
}

.message-container {
  display: none;
  padding: 5px;
}

#chain.mb-50 {
  margin-bottom: 50px;
}
.block-validity {
  font-size: 1.1em;
  font-weight: bold;
  opacity: 0.9;
}

.block-validity.valid {
  color: #00bfa5;
}

.block-validity.invalid {
  color: #e91e63;
}

.arrow-style {
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center;
}

#showBtn.clean {
  background-color: transparent;
  color: #00bfa5;
  border: 1px solid #00bfa5;
}

#checkBtn.success {
  background: transparent;
  color: #00bfa5;
  border: 1px solid #00bfa5;
}

#checkBtn.failure {
  background: transparent;
  color: #e91e63;
  border: 1px solid #e91e63;
}

nav.ui.menu {
  padding: 10px;
  text-decoration: line-through;
}
nav.ui.menu > .header {
  margin: 5px auto !important;
  font-size: 1.5em;
  font-weight: bold;
}
.ui.fluid.button.icon[name^="fix-"] {
  color: #e91e63;
  margin: 20px auto;
  display: none;
  border: 1px solid #e91e63;
  background-color: transparent;
}

.ui.fluid.button.icon[name^="fix-"]:hover {
  color: #00bfa5;
  margin: 20px auto;
  border: 1px solid #00bfa5;
  background-color: transparent;
}

.footer {
  box-shadow: 0px -2px #d3d3d3;
  padding: 4px;
  height: 40px;
  width: 100vw;
  position: relative;
  display: block;
  top: 100px;
}

.footer .github-link {
  display: block;
  margin: 0 auto;
  height: 24px;
  width: 24px;
}

.footer-text {
  text-align: center;
  font-size: 0.8em;
}
