html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.mt-50 {
  margin-top: 80px;
}

.mt-10#message {
  margin-top: 10px;
}
.border {
  border: 1px dashed #ad1457;
}

.text-center {
  text-align: center;
}

.ui.card {
  margin: 1em auto !important;
}

#chain.hide {
  display: none;
}

.overflow-a {
  overflow: auto;
  font-size: 0.85em;
  color: #1a237e;
  background-color: #f1f8e9;
}

#message {
  display: none;
  padding: 5px;
}

#chain.mb-50 {
  margin-bottom: 50px;
}
.block-validity {
  font-size: 1.1em;
  font-weight: bold;
}

.block-validity.valid {
  color: #2e7d32;
}

.block-validity.invalid {
  color: #d50000;
}
